<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">

    <title>Document</title>
</head>
<body>
         {{>header}}
     <main>
         <div class="mainsection">
            <div class="datasection">
                <h1>welcome to weather forcast</h1>
                <p>check the weather</p>
                <div class="btnsection">
                    <button class="btn"><a href="/temperature">get know temp</a></button>
                </div>

             </div>         
            </div>
            
     </main>

    <script src="javscript/index.js"></script>
</body>
</html>