
    <header>

                <div class="main">
                  <div>
                       <i class="fa-solid fa-sun"></i>
                      <h1>Wheather</h1>
                  </div>
                  <nav>
                     <ul class="navlist">
                        <li><a href="/">Home</a></li>
                        <li><a href="/temperature">wheather</a></li>
                     </ul>
                  </nav>
              </div
    </header>
         
